.ac_box { width: 200px;
	height: 180px;;

	 }
	 #ac_box1{
background-color:#FF00A0 ;
	 }
	 	 #ac_box2{
background-color:#F94300 ;
	 }
	 	 #ac_box3{
background-color: #00FDA8;
	 }
	 	 #ac_box4{
background-color: #18DC18;
	 }
	 	 #ac_box5{
background-color:#800080 ;
	 }
	 	 #ac_box6{
background-color: #3939BD;
	 }
	 	 #ac_box7{
background-color: #22788B;
	 }
	 	 #ac_box8{
background-color:#F7D72F ;
	 }
	 	 #ac_box9{
background-color: #B50808;
	 }
	  #ac_box10{
background-color:#1E90FF ;
	 }


#textbox{
	padding-left: 16px;
	font-weight: bold;
	font-size: 30px;
	color: #DCDCDC	;

}	 

#boxsobre{
	
	background-color:#B22222;
	height:500px;
}

#textboxsobre{
margin-top: 10px;
	background-color:#CD2626;
	padding-left: 70px;
	font-weight: bold;
	font-size: 30px;
	color: #DCDCDC	;
}
#sobre-texto{
	padding-top: 20px;
	font-weight: bold;
	font-size: 15px;
	color: #DCDCDC
}
#boxcontato{
	background-color:#B22222;
	height:170px;
	max-width: 450px;
}
#boxcontatomap{
	background-color:#B22222;
	height:370px;
	max-width: 450px;
}
.iconebox{

	padding-top: 20px;
	height: 130px;
	width: 120px;
	padding-right: 20px;
}
#textocontato{
	padding-bottom: 300px;
	padding-left: -10px;
	font-weight: bold;
	font-size: 30px;
	color: #DCDCDC	;
}
#mapa{
	padding-top: 20px;
	height:345px;
	max-width: 350px;
	padding-right: 0px;
}
#textomapa{
	
	font-weight: bold;
	font-size: 20px;
	color: #DCDCDC	;
}
#breve{
	font-family: arial black;
	font-weight: bold;
	font-size: 85px;
	color: #B22222	;
}