* {
margin: 0;
}
html, body {
height: 100%;
}

/* .footer, .push {
height: 4em;

}
.footer, .push {
clear: both;
}
.wrapper {

min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer{
margin-right:auto;margin-left:auto;
min-height: 300px;
margin-top: 100px;
background-color: #28364f;
padding-top: 35px;
color:#FFFFFF;
	background-color: #B22222;

}
#textofooter{
	
	
	font-weight: bold;
	font-size: 20px;
	color: #DCDCDC	;
}
*/
/*
@media (min-width: 400px) {
   
    .logofooter {
     margin-top: -14px;margin-left: 280px;
       width: 120px;
    height:96px;
        background:url("./arquivos/imagens/logo.jpg");
    }
}
@media (min-width: 768px) {
    .logofooter {
     margin-top: -13px;margin-left: -33px;
         width: 120px;
    height:96px;
        background:url("./arquivos/imagens/logo.jpg");
    }
}

@media (min-width: 992px) {

    .logofooter {
        margin-top: -7px;margin-left: -95px;
        width: 120px;
    height:96px;
        background:url("./arquivos/imagens/logo.jpg");
    }
}

@media (min-width: 1200px) {
   .logofooter {
        margin-top: -14px;margin-left: -94px;
        width: 120px;
    height:96px;
        background:url("./arquivos/imagens/logo.jpg");
    }
}
@media (min-width: 1400px) {
    .logofooter {
        margin-top: 5px;margin-left: -125px;
       width: 120px;
    height:96px;
        background:url("./arquivos/imagens/logo.jpg");
    }
}
*/
#mainFooter{
    color:white;
    background-color: #B22222;
}
#footerLogo{
     width: 120px;
    height:96px;
     margin-top: 5px;
}
#footerLogonosso{
     width: 100px;
    height:80px;
     margin-top: 5px;

}
#footerRights{
    background-color:#A52A2A;
    color: white;

}
#atb{
    color: white;
}
#botao{
    color: black;}