


.navbar-header {

    color: white;
	background-color: #B22222;
}
.navbar ul li a {  color: white; }

.navbar ul li{color:green;}
.navbar {

	color: white;
	background-color: #B22222;
}
  .navbar-nav {

    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
#logo{
	width: 60px;
    height:48px;
    ;

}
@media (min-width: 300px) {

    .logo {
     margin-top: -14px;margin-left: -15px;
        width: 60px;
    height:48px;
        background:url("./arquivos/imagens/logo.jpg");
    }

}
@media (min-width: 400px) {
    .logo {
     margin-top: -14px;margin-left: -15px;
        width: 60px;
    height:48px;
        background:url("./arquivos/imagens/logo.jpg");
    }

}

@media (min-width: 600px) {

    .logo {
     margin-top: -17px;margin-left: -33px;
         width: 200px;
    height:68px;
        background:url("./arquivos/imagens/logo.jpg");
    }
        .navbar-header {padding-right: 200px;}
}

@media (min-width: 768px) {

    .logo {
     margin-top: -17px;margin-left: -33px;
         width: 200px;
    height:68px;
        background:url("./arquivos/imagens/logo.jpg");
    }
        .navbar-header {padding-right: 200px;}
}
@media (min-width: 850px) {

    .logo {
     margin-top: -17px;margin-left: -33px;
         width: 200px;
    height:68px;
        background:url("./arquivos/imagens/logo.jpg");
    }
        .navbar-header {padding-right: 300px;}
}
@media (min-width: 900px) {

    .logo {
        margin-top: -14px;margin-left: -19px;
        width: 200px;
    height:68px;
        background:url("./arquivos/imagens/logo.jpg");
    }
       .navbar-header {padding-right: 400px;}
}

@media (min-width: 1224px) {

    .logo {
        margin-top: -14px;margin-left: -94px;
        width: 200px;
    height:68px;
        background:url("./arquivos/imagens/logo.jpg");
    }
      .navbar-header {padding-right: 500px;}
}
@media (min-width: 1400px) {

    .logo {
        margin-top: -17px;margin-left: -144px;
       width: 200px;
    height:68px;
        background:url("./arquivos/imagens/logo.jpg");
    }
       .navbar-header {padding-right: 600px;}
}





#imagemLogo{

width: 200px;
	height: 180px;
}


.active{
    background-color: blue;
    color: blue;
}
ul.nav .navbar-nav li {
float:left;
background: #333;
padding:0px;
line-height: 30px;
border-style: solid;
border-width: 1px;
border-color: #404040 #1a1a1a #1a1a1a #505050;
}
ul.nav .navbar-nav li a{
display: block;
padding: 5px 30px;
color: #fff;
font-size:17px;
font-family:Arial,Helvetica,sans-serif;
text-decoration: none;
font-weight: bold;
}
ul.nav .navbar-nav li a:hover, ul.nav .navbar-nav li:hover{
color: #fff;
background: #4698ca;
border-top-color: #5db1e0 !important;
border-left-color: #5db1e0;
}
.dropdown-menu {
    background-color: #B22222;

}
.dropdown-toggle{
   background-color: #B22222;
}
.dropdown:hover .dropdown-menu {
display: block;

}

#header_box{
 background-color: gray;
height: 300px;
}
#logofooter{
      margin-top: -14px;margin-left: -15px;
    width: 120px;
    height:96px;
    ;}
      /* AJUSTES SLIDER */
      .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
#carousel-example {
    min-height: 300px;
    max-height: 450px; /*slider height*/
    margin-right: auto;
    margin-left: auto;
}
.slide-img{
  max-width: 1000px;
min-width: 300px;
max-height: 451px;
min-height: 300px;
 margin-right: auto;
    margin-left: auto;
}

@media (max-width: 550px) {
.slide-img{ max-width: 1000px;
min-width: 300px;
height: 300px;}
#carousel-example {   height: 300px;
  margin-right: auto;
    margin-left: auto;}

}









html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.item{width:100%;height:100%;background-position:center;background-size:cover;}


/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #CCC;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #777;
    }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}
