html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    min-height: 100%;
    background: #454444 url("img/fundoANR.jpg");
    text-align: center;
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
}
.logo {
    padding: 0;
    margin: 0;
    //    width: 120px;
    //    height: 70px;
}
#content{
    //    padding: 0 0 30px 0;
    //    max-width:1240px;
    background: rgba(0, 0, 0, 0.09);
    padding: 0;
    margin: 0;

    //    margin: 50px auto 50px auto;
}
.container{
    margin-bottom:40px;
    margin-top: -50px;
}
#texto {text-align: justify;}
.clear {
    clear: both;
} h1 {
    text-shadow: 1px 0px 0px #fff,
        -1px 0px 0px #fff,
        0px 1px 0px #fff,
        0px -1px 0px #fff;
} h6 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 18px;
    color: #337ab7;
}
/* MENU AJUSTES */
.navbar-nav {
    margin-right: auto;
    margin-left: auto;
    text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px 1px 0px #fff, 0px -1px 0px #fff !important;
}.navbar-nav>li>a{
    color:black !important;
}

/* FONTE SUBMENUS */
.dropdown-menu > li > a {
    font-size: 18px;
}
#admFoo {background-color: rgba(0, 0, 0, 0.65);}
footer {background-color: rgba(0, 0, 0, 0.94)}
#itensRod {
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-inverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: row-inverse;
    max-width:920px;
    margin-left:auto;
    margin-right:auto;
}
#itensRod div {
    padding: 15px 0;
    margin-left:auto;
    margin-right:auto;
}
.linhaSubVer {
    padding:0;width: 1px;
    border-left: 1px dashed #fff;
    margin: 20px 0 20px 0;
} p {
    color: #cccccc;

} #texto {
    padding: 0 6% 30px 6%;
}







.menu2 > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
    font-size: 20px;
    border-bottom: 2px solid #B3B1B1;
}
@media (max-width: 767px) {
    .menu2 > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;}
}
.navbar-default{
    background-color: #f8f8f8;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
@media (min-width:768px){
    .menu1 {
        background-color: rgba(248, 248, 248, 0);
        border-color: rgba(248, 248, 248, 0);
    } }

.menu3 {
    line-height: 70px;
    margin: 0;
    padding: 0;
    font-size: 27px;
}



/* CSS used here will be applied after bootstrap.css */
//.navbar {

//}

.menu1 {
    min-height: 70px;
    margin-top:40px;
    position:absolute;
    font-size: 20px;
    left:0px;
    width:100%;

}


.caixa {
    max-width: 500px !important;
    padding: 0 !important;
}


.editar {
    position:absolute;
    right: 0;
    margin-right: -50px;
}
.excluir {
    position:absolute;
    right: 0;
    margin-right: -50px;
    margin-top: 40px;
}


@media (max-width: 590px) {
    .editar, .excluir {
        position: absolute;
        margin: 0;
        //float:right;
        margin-top: -40px;
        width: 48%;
    }
    .editar {
        left: 0;
    } .excluir {

    } .caixa {
        margin: 50px auto 0 !important;
    } .panel-body {
        padding-right: 0;
        padding-left: 0;
    } .img-user{
        width:100px !important;
        height: 100px !important;
    } .jumbotron p {
        font-size: 16px;
    }

}
.img-user {
    border: 1px #000 dotted;
    width: 130px;
    height: 150px;
    padding:0;
    float:left;
    margin-top: 25px;
}
.nome_user {
    margin-top: 0;
}
.dados_user2 {
    float:left;
    margin: 0 20px 20px 5px;
    margin-bottom: 5px !important;
}
.div_50 {
    width:50%;
}
.dados_user1{
    font-size:18px;
    color:#444;
} .box{
    border-radius: 8px;
    width:351px;
    height:226px;
} @media (max-width:768px){
    .box{
        max-width: 100% !important;
    }h2{
        margin-top: 0;
    }.respo{
        max-width: 100%;
    }.h2img{
        padding: 5px !important;
        font-size: 42px !important;
        text-align: center !important;
    }

} .divimg {
    margin-top: 73px;
    background-image: url('https://staticlivedemo00-templatemonster.netdna-ssl.com/wt_54816/images/parallax1.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    width:100%;
    height: 500px;
} .h2img{
    color:white;
    font-weight:bold;
    padding:111px;
    font-size:66px;
    text-align:left;
}
h1, h2{
    font-family: 'Lora', serif !important;
}.but-serv{
    margin-top: 20px;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    color: #333333;
    border: 2px solid #eaeaea;
    padding: 19px 39px;
}